body {
  background: #e0c3fc;
  font-family: 'PT Mono', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 10px;
}

.navigation {
  border: 1px solid #885df1;
  background: #885df1;
  color: white;
}

footer a {
  margin: 0 10px;
  color: teal;
}

footer {
  font-size: 12px;
}